Debug/*
Release/*
*.prc
.vscode/
scripts/bin/*
scripts/img/*
Rsc/images/interface/*.xcf
scripts/names.txt
scripts/to_resource.txt
scripts/to_img_resource.txt
.idea/*
Tavisco_Data/*.BIN
*.bin
*.bak
Tavisco_Data