Debug/*
Release/*
*.prc
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
scripts/bin/*
scripts/img/*
scripts/names.txt
scripts/to_resource.txt
scripts/to_img_resource.txt
scripts/tmp.bmp
scripts/to-resources/*
.idea/*
Tavisco_Data/*.BIN
*.bin
*.bak
Tavisco_Data
*.elf
tools/aci/aci
tools/descrcompress/compress
Rsc/Palmkedex_Rsc.rcp.real.rcp
tools/dexdata/tmp.bmp
tools/dexdata/bin/*
tools/dexdata/downloads/*
tools/dexdata/to-resources/*
*.sum
tools/infoMake/infoMake
tools/infoMake/data/*
poketypes/*